.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;
  padding: 0.5rem 0.25rem;

  font-size: 1.25rem;

  border-radius: 8px;

  transition: 0.3s filter;

  &:hover {
    filter: brightness(85%);
    cursor: pointer;
  }
}

.primary {
  color: $white;
  background-color: $orange;
  font-weight: bold;
}

.secondary {
  color: $gray-600;
  background-color: transparent;
}

.tertiary {
  color: $gray-600;
  background: transparent;
}
